name: Test-CI

on:
  push:
    tags:
      - '**'
    branches: main
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Tag for this release"
      release_msg:
        description: "Short message for this release"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} #gives is a valid branch name from push or PR

jobs:

  BuildIt:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out
        uses: actions/checkout@v3
      
      - name: CPU Cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - name: Build It
        run: |
          clang++ main.cc -o hello

      #only release and upload on manual dispatch
      - name: Create Tag
        uses: rickstaa/action-create-tag@v1
        id: tag-create
        if: ${{ env.BRANCH_NAME == 'main' && github.event_name == 'workflow_dispatch'}}
        with:
          tag: ${{ github.event.inputs.release_tag }}
          tag_exists_error: false
          message: ${{ github.event.inputs.release_msg }}

      - name: "Create Release"
        id: release
        uses: "ergebnis/.github/actions/github/release/create@1.8.0"
        if: ${{ env.BRANCH_NAME == 'main' && github.event_name == 'workflow_dispatch'}}
        with:
          github-token: "${{ secrets.BOT_TOKEN }}"
      - name: Output URL
        run: echo "url=${{env.RELEASE_UPLOAD_URL}}" >> "$GITHUB_OUTPUT"

      - name: Upload Release Artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        if: ${{ env.BRANCH_NAME == 'main' && github.event_name == 'workflow_dispatch'}}
        with:
          upload_url: ${{env.RELEASE_UPLOAD_URL}}#${{ needs.TagAndMakeRelease.outputs.release_upload_url }}
          asset_path: ./hello
          asset_name: hello_world
          asset_content_type: application/gzip