name: Test-CI

on:
  push:
    tags:
      - '**'
    branches: main
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Tag for this release"
      release_msg:
        description: "Short message for this release"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} #gives is a valid branch name from push or PR

jobs:
  Tagger:
    - name: Checkout
      if: ${{ github_event_name == 'workflow_dispatch' }}
      uses: actions/checkout@v3
    - name: Tag
      if: ${{ github_event_name == 'workflow_dispatch' }}
      run: git tag -a ${{ github.events.inputs.release_tag }} -m ${{ github.events.inputs.release_msg }}

      - name: "Create Release"
        id: release
        uses: "ergebnis/.github/actions/github/release/create@1.8.0"
        if: ${{ env.BRANCH_NAME == 'main' && github.event_name == 'workflow_dispatch'}}
        with:
          github-token: "${{ secrets.BOT_TOKEN }}"
      - name: Output URL
        run: echo "url=${{env.RELEASE_UPLOAD_URL}}" >> "$GITHUB_OUTPUT"
        
  BuildIt:
    runs-on: ubuntu-latest
    needs: Tagger
    steps:
      - name: Check Out
        uses: actions/checkout@v3
      
      - name: CPU Cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - name: Build It
        run: |
          clang++ main.cc -o hello

      - name: Upload Release Artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        if: ${{ env.BRANCH_NAME == 'main' && github.event_name == 'workflow_dispatch'}}
        with:
          upload_url: ${{env.RELEASE_UPLOAD_URL}}#${{ needs.TagAndMakeRelease.outputs.release_upload_url }}
          asset_path: ./hello
          asset_name: hello_world
          asset_content_type: application/gzip