name: Test-CI

on:
  push:
    tags:
      - '**'
    branches: main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }} #gives is a valid branch name from push or PR

jobs:
  BuildIt:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out
        uses: actions/checkout@v3
      
      - name: CPU Cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - name: Build It
        run: |
          clang++ main.cc -o hello

      - name: "Create Release"
        uses: "ergebnis/.github/actions/github/release/create@1.8.0"
        with:
          github-token: "${{ secrets.BOT_TOKEN }}"

      - name: Upload Release Artifact
        uses: actions/upload-release-asset@v1
     #   if: ${{ env.BRANCH_NAME == 'main' }} && ${{ github.event_name == ""}}
        with:
          upload_url: ${{ env.RELEASE_UPLOAD_URL }}
          asset_path: ./hello
          asset_name: hello_world
          asset_content_type: application/gzip